.searchContainer {
  width: 100%;
  max-width: 1056px;
  margin: 10px auto 0;
  padding: 0 10px 10px;
  text-align: center;
  margin-bottom: 10px;
}

#searchInput {
  width: 100%; 
  padding: 8px;
  font-size: 14px;
  border: 2px solid #A0A0A0;
  border-radius: 5px;
  box-sizing: border-box;  
  background-color: #f2f8fc;
}
